<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Granblue Fantasy Crew Recruitment Image Generator Ver.1.0.0</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
</head>

<body class="">
    <div id="app" class="container justify-content-center">
        <div id="wrapper" class="row">
            <header class="p-2">
                <h1 class="fs-4 text-primary border border-primary bg-light text-center rounded-3 p-2">団員募集画像ジェネレータ</h1>
            </header>

            <!-- Edit Column -->
            <div id="inputForm" class="col-lg-6 gx-0 gx-lg-3">
                <div class="accordion bg-light shadow">
                    <form class="g-3">
                        <!-- Text Edit -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Textedit
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                                <div class="accordion-body">

                                    <div class="row">
                                        <div class="col-12">
                                            <label for="formFile" class="form-label w-75">Title</label>
                                            <input type="text" v-model="mainTitle" placeholder="タイトル（○○団員募集 "
                                                class="form-control form-control-sm">
                                        </div>
                                    </div>

                                    <div class="col-md-4 mt-4 w-75">
                                        <input type="text" v-model="esseTitle" placeholder="例：募集要項"
                                            class="form-control">
                                    </div>
                                    <div class="col-12 mt-2">
                                        <textarea title="essentials" v-model="essentials"
                                            class="form-control form-control-sm" rows="5"></textarea>
                                    </div>

                                    <div class="col-12 mt-4 w-75">
                                        <input type="text" v-model="battleTitle" placeholder="例：古戦場の方針"
                                            class="form-control">
                                    </div>
                                    <div class="col-12 mt-2">
                                        <textarea title="battle" v-model="battle" class="form-control form-control-sm"
                                            rows="6"></textarea>
                                    </div>

                                    <div class="col-12 mt-4 w-75">
                                        <input type="text" v-model="infoTitle" placeholder="例：騎空団概要"
                                            class="form-control">
                                    </div>
                                    <div class="col-12 mt-2">
                                        <textarea title="infomation" v-model="infomation"
                                            class="form-control form-control-sm" rows="5"></textarea>
                                    </div>

                                    <div class="col-12 mt-4 w-75">
                                        <input type="text" v-model="etcTitle" placeholder="例：その他" class="form-control">
                                    </div>
                                    <div class="col-12 mt-2">
                                        <textarea title="etc" v-model="etc" class="form-control form-control-sm"
                                            rows="5"></textarea>
                                    </div>

                                    <div class="col-12 mt-4">
                                        <label for="formFile" class="form-label">notice</label>
                                        <textarea title="notice" v-model="notice"
                                            class="mt-2 form-control form-control-sm" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Color Edit Column -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Color&amp;Backgroud
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                                <div class="accordion-body">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="formFile" class="form-label col-form-label-sm">カラー</label>
                                            <input type="color" title="color" value="#ffffff" v-model="baseColor"
                                                class="form-control form-control-sm" @change="bgModify">
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="formFile" class="form-label col-form-label-sm">注釈カラー</label>
                                            <input type="color" title="noticeColor" value="#446699"
                                                v-model="noticeColor" class="form-control form-control-sm">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 mt-2">
                                            <label for="formFile" class="form-label col-form-label-sm">背景画像</label>
                                            <input type="file" title="bgModify" accept="image/*"
                                                class="form-control form-control-sm" ref="bgModify" @change="bgModify">
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <label for="formFile" class="form-label col-form-label-sm">背景の透明度</label>
                                            <input type="range" title="form-range" min="0" max="1" step="0.01"
                                                v-model.number="configBg.opacity" class="form-range">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 mt-2">
                                            <label for="formFile" class="form-label col-form-label-sm">フレーム</label>
                                            <select v-model="configFimg.image.src" aria-label="frameImg"
                                                class="form-select">
                                                <option v-for=" image in frameImages" v-bind:value="image.path">
                                                    {{ image.label }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 mt-2">
                                            <label for="formFile"
                                                class="form-label col-form-label-sm">罫線（ドラッグで上下移動）</label>
                                            <select v-model="configCimg.image.src" aria-label="centerImg"
                                                class="form-select">
                                                <option v-for=" image in centerImages" v-bind:value="image.path">
                                                    {{ image.label }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="buttons" class="row justify-content-center m-4">
                    <button id="save" class="btn btn-primary text-white col-6" data-bs-toggle="modal"
                        data-bs-target="#generateImg">画像を生成</button>
                </div>
            </div>

            <!-- image Ganerate Modal -->
            <div class="modal fade g-0" id="generateImg" tabindex="-1" aria-labelledby="generateImgLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-fullscreen-xl-down">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <img id="newImg" class="" width="100%">
                        </div>
                        <div class="modal-footer">
                            <p class="modal-title " id="ganerateImgLabel">右クリック、または長押しで保存</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- preview Column -->
            <div id="stageParent" class="col-lg-6 gx-0">
                <v-stage ref="stage" :config="configKonva">
                    <v-layer ref="layer">
                        <v-image ref="image" :config="{
                            width: 700,
                            height: 1000,
                            fill: '#ffffff',
                            }"></v-image>

                        <v-image :config="configBg"></v-image>
                        >
                        <v-rect ref="rect" :config="{
                            x: 25, y: 150,
                            stroke: '#759',
                            strokeWidth: 0,
                            fill: baseColor,
                            opacity: 0.15,
                            width: 650,
                            height: 830,
                            shadowColor: 'black',
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowOffsetY: 0,
                            shadowOpacity: 0.2,
                            cornerRadius: 0
                            }"></v-rect>

                        <v-image :config="configFimg"></v-image>

                        <v-text :config="{
                            width: 700,
                            height: 150,
                            padding: 15,
                            y: 35,
                            text: mainTitle,
                            fontSize: 42,
                            fontFamily: 'Noto Serif JP',
                            fill: baseColor,  
                            align: 'center',
                            lineHeight: 1.15,
                            shadowColor: baseColor,
                            shadowBlur: 18,
                            shadowOffsetX: 3,
                            shadowOffsetY: 3,
                            shadowOpacity: 1,
                            stroke: 'white',
                            strokeWidth: 3,
                            fillAfterStrokeEnabled: true,
                            }"></v-text>

                        <v-text :config="{
                            x: 80, y: 215,
                            text: essentials,
                            fontSize: 16,
                            lineHeight: 1.5,
                            fontFamily: 'M PLUS 1p',
                            fill: '#000',
                            width: 600,
                            padding: 20,
                            align: 'left',
                            rotation: 0.03,
                            }"></v-text>

                        <v-text :config="{
                            x: 80, y: 365,
                            text: battle,
                            fontSize: 16,
                            lineHeight: 1.5,
                            fontFamily: 'M PLUS 1p',
                            fill: '#000',
                            width: 600,
                            padding: 20,
                            align: 'left',
                            rotation: 0.03,
                            }"></v-text>

                        <v-text :config="{
                            x: 80, y: 575,
                            text: infomation,
                            fontSize: 16,
                            lineHeight: 1.5,
                            fontFamily: 'M PLUS 1p',
                            fill: '#000',
                            width: 600,
                            padding: 20,
                            align: 'left',
                            rotation: 0.03,
                            }"></v-text>

                        <v-text :config="{
                            x: 80, y: 710,
                            text: etc,
                            fontSize: 16,
                            lineHeight: 1.5,
                            fontFamily: 'M PLUS 1p',
                            fill: '#000',
                            width: 600,
                            padding: 20,
                            align: 'left',
                            rotation: 0.03,
                            }"></v-text>

                        <v-text :config="{
                            x: 80, y: 840,
                            text: notice,
                            fontSize: 16,
                            lineHeight: 1.5,
                            fontFamily: 'M PLUS 1p',
                            fill: noticeColor,
                            width: 600,
                            padding: 20,
                            align: 'left',
                            rotation: 0.03,
                            }"></v-text>

                        <v-text :config="{
                            x: 100,
                            y: 205,
                            text: esseTitle,
                            fontSize: 26,
                            fontFamily: 'Noto Serif JP',
                            fill: baseColor,  
                            }"></v-text>
                        <v-text :config="{
                            x: 100,
                            y: 355,
                            text: battleTitle,
                            fontSize: 26,
                            fontFamily: 'Noto Serif JP',
                            fill: baseColor, 
                            }"></v-text>
                        <v-text :config="{
                            x: 100,
                            y: 570,
                            text: infoTitle,
                            fontSize: 22,
                            fontFamily: 'Noto Serif JP',
                            fill: baseColor,  
                            }"></v-text>
                        <v-text :config="{
                            x: 100,
                            y: 705,
                            text: etcTitle,
                            fontSize: 22,
                            fontFamily: 'Noto Serif JP',
                            fill: baseColor,  
                            }"></v-text>

                        <v-image :config="configCimg"></v-image>
                        <v-text :config="infoText"></v-text>
                    </v-layer>
                </v-stage>

                <div class="mt-2 text-end">
                    <p>Granblue Fantasy Crew Recruitment Image Generator Ver.1.0.3<br>
                        Source on <a href="https://github.com/nlrcmsp/gbf_crew" target="blank">Github</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
    <script src="https://unpkg.com/vue-konva/umd/vue-konva.min.js"></script>
    <script>
        // define default images
        const titleImg = new Image();
        titleImg.src = 'images/title.png';
        const bgImg = new Image();
        bgImg.src = 'images/bg.png';
        const frameImg = new Image();
        frameImg.src = 'images/frame01.png';
        const centerImg = new Image();
        centerImg.src = 'images/center01.png';

        const app = new Vue({
            el: '#app',
            data: {

                // テキスト初期値
                mainTitle: '騎空団・団員募集',
                esseTitle: '募集要項',
                battleTitle: '古戦場の方針',
                infoTitle: '□騎空団概要',
                etcTitle: '□その他',
                essentials: '・RANK200以上\n・Discord導入できる方（聞き専可）\n・グラブルに対してある程度のモチベーションが保てる方\n・一般的なマナーを守れる方',
                battle: '・予選Aクラス2000位以内目標\n・本戦、1〜2日目10億、3〜4日30億目標 \n・ノルマは個人ランキング8万位以内（デイリーノルマはなし）\n・朝活は任意\n・僅差の時は走ります（強制ではありません）\n・古戦場中に走れなくなった場合は事前にご連絡ください',
                infomation: '団長：グラン（ID:00000001）\n平均RANK：約230（200～280）\nアサルトタイム:22～24時\n団サポ：ポーション、風見鶏、銅鑼、勉強机（古戦場時は有利炉）',
                etc: '・ディールは自発者優先\n・ルシH、バブ、ベリアル攻略済、必要な方はキャリー可能\n・一週間ログインなし、古戦場のノルマ未達成時\n　連絡がない場合は強制退団となります',
                notice: '※入団についてのお問い合わせは、\nTwitterのリプやDMで受け付けています。',


                titleImg: titleImg,
                frameImg: frameImg,
                centerImg: centerImg,

                configBg: {
                    image: bgImg,
                    width: 700,
                    height: 1000,
                    x: 0,
                    y: 0,
                    opacity: 1.0,
                },

                baseColor: '#0088d6',
                noticeColor: '#446699',

                configKonva: {
                    width: 700,
                    height: 1000,
                    fill: '#fff',
                },

                infoText: {
                    x: 198,
                    y: 983,
                    fill: '#aaaaaa',
                    fontSize: 12,
                    fontFamily: 'M PLUS 1p',
                    align: 'right',
                    text: 'Granblue Fantasy Crew Recruitment Image Generator Ver.1.0.3 https://gbf.mints.ne.jp/',
                },

                configFimg: {
                    image: frameImg,
                    width: 700,
                    height: 980,
                    x: -2, y: 10,
                    opacity: 0.3,
                },
                frameImages: [
                    {
                        label: "frame01",
                        path: "images/frame01.png"
                    },
                    {
                        label: "frame02",
                        path: "images/frame02.png"
                    },
                    {
                        label: "frame03",
                        path: "images/frame03.png"
                    },
                ],

                configCimg: {
                    image: centerImg,
                    width: 400,
                    height: 30,
                    x: 148, y: 540,
                    opacity: 0.3,
                    draggable: true,
                    dragBoundFunc: function (pos) {
                        return {
                            x: this.absolutePosition().x,
                            y: pos.y,
                        };
                    },
                },
                centerImages: [
                    {
                        label: "center01",
                        path: "images/center01.png"
                    },
                    {
                        label: "center02",
                        path: "images/center02.png"
                    },
                    {
                        label: "center03",
                        path: "images/center03.png"
                    },
                ]

            },

            methods: {
                bgModify(e) {
                    const fileImg = this.$refs.bgModify.files[0];
                    if (fileImg.type.startsWith("image/")) {

                        const targetBg = this.configBg.image
                        const configBg = this.configBg
                        const canvasConf = this.configKonva

                        async function loadImage(imagePath) {
                            const promise = new Promise(
                                function (resolve) {
                                    targetBg.onload = function () {
                                        // fire after load
                                        console.log(`current: ${targetBg.complete}`)
                                        let img_width = targetBg.width;
                                        let img_height = targetBg.height;
                                        console.log(`${targetBg.src} width:height is: ${targetBg.width}:${targetBg.height}`)
                                        // fit image by longer edge
                                        const w_max = canvasConf.width;
                                        const h_max = canvasConf.height;
                                        const ratio = (img_width > img_height ? (img_width / w_max) : (img_height / h_max))
                                        console.log(`new image ratio is: ${ratio}`)
                                        configBg.width = Math.floor(img_width / ratio)
                                        configBg.height = Math.floor(img_height / ratio)
                                        console.log(`resizing to width:height is: ${configBg.width}:${configBg.height}`)

                                        // offset bgimae
                                        if (img_width >= img_height) {
                                            configBg.y = Math.floor((h_max - configBg.height) / 2)
                                            configBg.x = 0
                                        } else {
                                            configBg.x = Math.floor((w_max - configBg.width) / 2)
                                            configBg.y = 0
                                        }
                                        resolve()
                                    }
                                    // load target
                                    targetBg.src = imagePath
                                })
                            await promise
                        }
                        loadImage(window.URL.createObjectURL(fileImg))
                        // reference: https://qiita.com/iLLviA/items/c24f385ca3334c05a682
                    }
                }
            }
        })

        // get konva stage as 'stage'
        const stage = app.$refs.stage.getStage();

        //画像生成ボタン
        function downloadURI(uri, name) {

            // download given uri as 'name'
            const link = document.createElement('a');
            link.download = name;
            link.href = uri;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            delete link;
        }
        // bind downloadURI function to DOM element
        document.getElementById('save').addEventListener(
            'click',
            () => {
                const dataURL = stage.toDataURL({ pixelRatio: 2.5 });
                document.getElementById("newImg").src = dataURL;
                // downloadURI(dataURL, 'stage.png');
            },
        );

        //v-stageリサイズ
        function fitStageIntoParentContainer() {
            const container = document.querySelector('#stageParent');
            // now we need to fit stage into parent container
            const containerWidth = container.offsetWidth;

            const sceneWidth = 700;
            const sceneHeight = 1000;
            // but we also make the full scene visible
            // so we need to scale all objects on canvas
            const scale = containerWidth / sceneWidth;

            stage.width(sceneWidth * scale);
            stage.height(sceneHeight * scale);
            stage.scale({
                x: scale,
                y: scale
            });
        }
        fitStageIntoParentContainer(); // init
        // adapt the stage on any window resize
        window.addEventListener('resize', fitStageIntoParentContainer);
    </script>
</body>

</html>